* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

a {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

i {
    font-size: 2rem;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background-image: url(../images/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2%;
    padding-bottom: 5%;
    background-position: center;
}

.navigation_list {
    display: flex;
    list-style: none;
    padding: 0;
    line-height: 41px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: flex-end;
    margin: 0 10%;

}

.navigation_link {
    margin-right: 36px;
    text-decoration: none;
    color: white;
}

.navigation_link:hover {
    color: #fed136;
}

.navigation_link:active {
    opacity: 0.5;
}

.acquaintance {
    margin-top: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.acquaintance_greeting {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-style: italic;
    letter-spacing: -1px;
    margin: 0;
}

.acquaintance_surname {
    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing: -1px;
    margin: 0;
}

.button {
    display: inline-block;
    width: 240px;
    height: 65px;
    background-color: #fed136;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    border: 2px solid white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.button:active {
    opacity: 0.5;
}

.button:before {
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}

.about {
    margin-top: 65px;
}

.about-title {
    text-align: center;
}

.about_header {
    font-family: 'Myriad Pro', serif;
    text-transform: uppercase;
    font-size: 2.858rem;
    font-weight: 400;
    letter-spacing: -0.071rem;
    margin: 0;
}

.about_header-text {
    font-family: 'Myriad Pro', serif;
    color: #777777;
    font-size: 1.286rem;
    font-style: italic;
    text-align: center;
    margin: 8px 0 0;
}

.about-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content {
    margin-top: 84px;
    display: grid;
    grid-row-gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

}

.last-place_text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

}

.last-place_text h3 {
    font-family: 'Myriad Pro', serif;
    color: #222222;
    font-size: 1.286rem;
    font-weight: 400;
    letter-spacing: -0.032rem;
    text-align: right;
    margin: 0;
}

.last-place_text ul {
    padding: 0;
}

.last-place_text li {
    font-family: 'Myriad Pro', serif;
    color: #777777;
    font-weight: 400;
    letter-spacing: -0.025rem;
    text-align: right;
    margin-right: 10px;
}

.last-place_text li:nth-child(n+2) {
    margin-top: 8px;
}

.last-place_img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
    object-fit: cover;
}

.skills_text {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.skills_text h3 {
    font-family: 'Myriad Pro', serif;
    color: #222222;
    font-size: 1.286rem;
    font-weight: 400;
    letter-spacing: -0.032rem;
    margin: 0;
    text-align: left;
}

.skills_text li {
    font-family: 'Myriad Pro', serif;
    color: #777777;
    font-weight: 400;
    letter-spacing: -0.025rem;
    margin-left: 10px;
    text-align: left;
}

.skills_text ul {
    padding: 0;
    list-style-position: inside;
}

.skills_img {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    object-fit: cover;
}

.technologies-list_text {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.technologies-list_text h3 {
    font-family: 'Myriad Pro', serif;
    color: #222222;
    font-size: 1.286rem;
    font-weight: 400;
    letter-spacing: -0.032rem;
    margin: 0;
    text-align: right;
}

.technologies-list_text li {
    font-family: 'Myriad Pro', serif;
    color: #777777;
    font-weight: 400;
    letter-spacing: -0.025rem;
    margin-right: 10px;
    text-align: right;
}

.technologies-list_img {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 100%;
    object-fit: cover;
}

.about_cv {
    margin-top: 100px;
}

.portfolio {
    margin-top: 100px;
}

.portfolio_flex {
    display: flex;
    justify-content: center;
}

.portfolio_header {
    font-family: 'Myriad Pro', serif;
    text-transform: uppercase;
    font-size: 2.858rem;
    font-weight: 400;
    letter-spacing: -0.071rem;
    margin: 0;
    text-align: center;
}

.portfolio_header-text {
    font-family: 'Myriad Pro', serif;
    color: #777777;
    font-size: 1.286rem;
    font-style: italic;
    text-align: center;
    margin: 8px 0 0;
}

.portfolio_gallery {
    width: 80%;
    position: relative;
    overflow: hidden;
    perspective: 1000px
}

.portfolio_gallery_spanTop {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.71);
    border: 1px solid black;
    width: 99.9%;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    transform-origin: top center;
    opacity: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.portfolio_gallery_spanBottom {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.71);
    border: 1px solid black;
    width: 99.9%;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    transform-origin: bottom center;
    opacity: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    height: 5%;
    padding: 5px;
    display: flex;
    align-items: center;
}

.spanBottom-item {
    width: 50%;
}

.portfolio_gallery:hover .portfolio_gallery_spanTop,
.portfolio_gallery:hover .portfolio_gallery_spanBottom {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.portfolio_gallery_spanTop-header {
    font-family: 'Myriad Pro', serif;
    font-weight: 400;
    letter-spacing: -0.071rem;
    font-size: 1.8rem;
    margin: 0;
    color: white;
}

.portfolio_gallery_spanTop-text {
    font-family: 'Myriad Pro', serif;
    color: #77756b;
    font-size: 1.286rem;
    font-style: italic;
    margin: 3px 0 0;
    color: white;
}

.portfolio_gallery_spanBottom-gitHub,
.portfolio_gallery_spanBottom-currentSite {
    font-family: 'Myriad Pro', serif;
    color: #77756b;
    font-size: 1.286rem;
    font-style: italic;
    color: white;
    text-decoration: none;
    margin: 3px 0;
}

.portfolio_gallery_spanBottom-gitHub:hover,
.portfolio_gallery_spanBottom-currentSite:hover {
    font-weight: bold;
}

.fa-github,
.fa-external-link-square-alt {
    color: white;
}



.portfolio_gallery_spanBottom-gitHub {
    font-family: 'Myriad Pro', serif;
    color: #77756b;
    font-size: 1.286rem;
    font-style: italic;
    margin: 3px 0 0;
    color: white;
}

.portfolio_gallery img {
    width: 100%;
}

.portfolio_ArrowBox {
    width: 5%;
    text-align: center;
}

.portfolio_ArrowBox:hover {
    cursor: pointer;
}

.portfolio_ArrowBox:hover .fas {
    font-size: 2.25rem;
}

.portfolio_ArrowBox:active .fas {
    font-size: 1.75rem;
}

.portfolio_ArrowBox::before {
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}

.po

@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }

}

@media screen and (max-width: 768px) and (min-width: 461px) {
    html {
        font-size: 10px;
    }

    .navigation_list {
        margin: 0 2%;
        justify-content: center;
    }

    .button {
        width: 200px;
        height: 54px;
    }

    .about_cv {
        font-size: 10px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 460px) {
    html {
        font-size: 12px;
    }

    .acquaintance {
        text-align: center;
    }

    .about-content {
        grid-row-gap: 25px;
        grid-template-columns: 1fr;
        margin-top: 40px;
    }

    .last-place_img {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 158px;
        height: 158px;
        display: block;
        margin: 0 auto;
    }

    .last-place_text {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .last-place_text h3 {
        text-align: center;
    }

    .last-place_text li {
        list-style: none;
        text-align: center;
        margin: 0;
    }

    .skills_img {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        width: 158px;
        height: 158px;
        display: block;
        margin: 0 auto;
    }

    .skills_text {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .skills_text h3 {
        text-align: center;
    }

    .skills_text li {
        margin: 0;
    }

    .technologies-list_img {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        width: 158px;
        height: 158px;
        display: block;
        margin: 0 auto;
    }

    .technologies-list_text {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

    .technologies-list_text h3 {
        text-align: center;
    }

    .technologies-list_text li {
        margin: 0;
        text-align: left;
    }

    .navigation_list {
        margin: 0 2%;
        justify-content: center;
    }

    .navigation_link {
        margin-right: 15px;
        font-size: 10px;
    }

    .button {
        width: 150px;
        height: 40px;
        font-size: 12px;
    }

    .about_cv {
        font-size: 8px;
        margin-top: 30px;
    }
}